---
layout: layout
title: Home
---

<h1>Static Site Template</h1>

{% picture_tag '/assets/img/hoge.png' %}

{% picture_tag '/assets/img/hoge.png', 'ダミー画像', true %}

{% inject_svg '/assets/img/common/sample.svg' %}
